body{
  font-family: sans-serif;
  a{
    color:inherit;
  }
  margin:.5em;
  font-size:min(2vh,3vw,12pt);
  background-color: royalblue;
}
header{
  margin:.5em;
  border:2px solid dimgray;
  a{
    text-decoration: none;
  }
}
header *{
  margin:0px;
  padding:.5em;
}
#timer{
  padding:.25em .5em;
}
.bgWater{
  color:White;
  text-shadow:dimgray 2px 2px;
  background: royalblue url('game_bg_water.svg');
}
.bgWay{
  background: peru url('game_bg_way.svg');
}
.bgWall{
  background: firebrick url('game_bg_wall.svg');
}
.game{
  display:inline-block;
  margin:0;
  padding:1em;
  background-color:navy;
  line-height:0px;
  .mazeview::part(mazeview){
    /*reset settings*/
    font: initial;
    text-shadow: initial;
    line-height: initial;
    color: initial;
  }
}
header,nav,main {
  display: inline-block;
  vertical-align: top;
}
@media (orientation:landscape){
  main{
    width: calc(100vh - 1em - 1.5em - 2em);
    max-width:720px;
  }
  footer,main p{
    max-height:1em;
    line-height:1em;
    margin:.25em 0px;
  }
  .game{
    width:calc(100% - 2em);
    .mazeview::part(mazeview){
      width: 100%;
      height:auto;
    }
  }
}
@media screen and (orientation:portrait) {
  .game{
    width:calc(100% - 2em);
  }
  main{
    width:100%;
    max-width:720px;
  }
  .mazeview::part(mazeview){
    width: 100%;
    height:auto;
  }
}
