:root{
  --wand:gray;
  --boden:Sienna;
}
text{
  fill:SaddleBrown;
  font-family:sans-serif;
  font-size:20pt;
}
.vorne{
  x-opacity: .66;
}
.wand{
  fill:var(--wand);
  stroke:black;
}
.debug{
  fill:red;
}
.boden{
  fill:var(--boden);
  stroke:black;
}

