main .view{
  display:inline-block;
  vertical-align:top;
  margin:.5em;
}
#views>div{
  position:relative;
}
#views>div[data-view]:after{
  position:absolute;
  top:0px;left:0px;
  content:attr(data-view);
  font-size:8pt;
  padding:.15em .25em;
  background-color:rgba(255,255,255,.75);
  text-shadow:.05em .05em white;
}
header>*{
  display:inline-block;
  vertical-align:middle;
}
body{
  font-family:Arial,sans-serif;
}
#viewSettings>label{
  margin:.5em;
}
#views .view[data-enabled='false']{
  display:none;
}
pre{
  font-family:Consolas,monospace;
}
.placeholder{
  background-color:goldenrod;
  border-radius:50%;
  position:relative;
}
.placeholder:after{
  position: absolute;
  content:'---';
  padding-left:calc(32px - 0.5em);
  padding-top:calc(32px - .66em);
  margin:0;
  font-size:32px;
  color:white;
}

/*Github-Marker: Farben anpassen:*/
.github-fork-ribbon:before {
  background-color: #CCC;
}
.github-fork-ribbon:after {
  color: #333;
  text-shadow:0.08em .08em rgba(255, 255, 255, 0.5)
}
