/*only for display this asset. mostly a copy of v_topdown.svg!*/
#boden{
  fill:url(../res/game_bg_water.svg#water);
  stroke:none;
}
#decke,#boden,#doorBottom,#doorRight,#doorLeft,#doorTop{
  .way{
    fill:url(../res/game_bg_way.svg#tiles);
    stroke:none;
  }
  .wall{
    fill:url(../res/game_bg_wall.svg#bricks);
  }
}
#wallLeft,#pilon,#doorBottom,#decke,#doorLeft,#doorTop{
  .shadow{
    fill:rgba(0,0,0,.1);
    stroke:none;
  }
}
#pilonShadow.shadow{
  fill:rgba(0,0,0,.1);
  stroke:none;
}

.pilon{
  fill:Olive;
  .pilon3d{fill:url(#pile_rundschatten);}
}
.rope{
  stroke:Goldenrod;
  stroke-width:1.25;
  fill:none;
  &.leftDoor{
    display:var(--leftDoor);
  }
  .mark{stroke:rgba(0,0,0,.2);
    stroke-width:1;stroke-dasharray:.25 2;}
}
.decke{
  --leftDoor:none;
}
.doorLeft~.decke{
  --leftDoor:initial;
}
